@model NgCookingKR.Models.ViewModel.ListIngredientCategoryIngSimilaire
@{
    ViewBag.Title = "Communauté";
}



<div id="wrapper">

    <main id="main">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-9">
                    <div class="content" id="content_ingredients">
                        <h1 class="page-title">Les ingredients</h1>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel">
                                    <div class="row imgback">
                                        <div class="hidden-xs col-sm-3"></div>
                                        <div class="col-xs-12 col-sm-9 fp">
                                            <div class="filters">
                                                @*<form action="#" novalidate>*@
                                            @using (@Html.BeginForm())
                                                    {
                                                    <div class="filter">
                                                        <p><label for="">Nom de l'ingrédient</label></p>
                                                        @Html.TextBox("ingred", null, new { id = "txtSearch",placeholder = "ex: Banane"})
                                                    </div>
                                                    <div class="filter">
                                                        <p><label for="">Catégorie</label></p>
                                                        <p>
                                                            <select name="category" id="cat">
                                                                <option value=""></option>
                                                                <option value="Viandes">Viandes</option>
                                                                <option value="Fruits">Fruits</option>
                                                                <option value="Legumes">Légumes</option>
                                                                <option value="Poissons">Poissons</option>
                                                                <option value="alcool">Alcools</option>
                                                                <option value="Etc...">Etc...</option>
                                                            </select>
                                                        </p>
                                                    </div>
                                                    <div class="filter">
                                                        <p><label for="">Nombre de calories <span class="fwn">(kcal/100g)</span></label></p>
                                                        <p>
                                                            <span class="span-label">entre :</span>
                                                            <input type="number" name="calmin" class="mr0" placeholder="ex: 70">
                                                            <span class="span-label">et</span>
                                                            <input type="number" name="calmax" placeholder="ex: 220">
                                                        </p>
                                                    </div>
                                                    <input type="submit" value="Search" />
                                            }
                                                @*</form>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                         
                            <div class="col-xs-12">
                                <div class="result">
                                    <div class="ingredients row">
                                        <div id="pp" >
                                        <!--
        <p class=" col-xs-12 blank">Aucun ingrédient ne correspond à votre recherche</p>
        -->
                                        @for (int i = 0; i < Model.ListIngredientCategory.Count; i++)
                                        {
                                            <div id='tt' class='col-xs-12 ingredient'>
                                                <div class="ing-wrap">
                                                    <div class="top">
                                                        <p class="name">@Model.ListIngredientCategory[i].Ingredient.Name</p>
                                                        <p class="category">@Model.ListIngredientCategory[i].CategoryIngredient.Name</p>
                                                        <img class="img" src="~/img/ingredients/@Model.ListIngredientCategory[i].Ingredient.IngredientImage" alt="Poulet">
                                                        <div class="calories-wrap">
                                                            <div class="val">
                                                                <span>@Model.ListIngredientCategory[i].Ingredient.Calorie kcal</span>
                                                                <div class="battery">
                                                                    <!-- pourcentage ci-dessous à moduler en fonction du nombre de calories de l'ingredient sur nombre de calories max -->
                                                                    <div class="level" style="width: @Model.ListIngredientCategory[i].LevelCal%;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="bot">
                                                        <p class="description"> @Model.ListIngredientCategory[i].Ingredient.Description.</p>
                                                        <div class="list">
                                                            <p class="list-title">Aliments similaires</p>
                                                            <ul>
                                                                @for (int j = 0; j < Model.ListIngredientCategory[i].ListIngredientSimilaire.Count; j++)
                                                                {
                                                                    <li class="item">
                                                                        <img class="item-img" src="~/img/ingredients/@Model.ListIngredientCategory[i].ListIngredientSimilaire[j].IngredientImage" alt="Boeuf">
                                                                        <p class="item-name" title="Boeuf">@Model.ListIngredientCategory[i].ListIngredientSimilaire[j].Name</p>
                                                                    </li>
                                                                }


                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    </div>
                                </div>
                                <div class="row showmore">
                                    <div class="col-xs-12">
                                        <button type="button" class="btn btn_color1" onclick="AddIngredientElement()"><span class="glyphicon glyphicon-chevron-down"></span>Afficher d'avantage</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>

<script>
    function AddIngredientElement() {

        $("#tt").add()
    };
    
</script>


<div id="mobile-back-layer"></div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

